html {
	background-color: black;
	background: url('img/download.jpeg') no-repeat center center fixed;
	background-image: cover;
}
.wrapper {
	width: 100%;
	text-align: center;
}

#fileName{
	width: 200px;
	height: 30px;
	border: 2px solid blue;
	background: rgba(0, 0, 0, 0.7);
	margin: 20px auto;
	text-align: center;
	border-radius: 5px;
	color: white;
	line-height: 30px;
}


.button1 {
	width: 200px;
	height: 20px;
	background: black;
	border: 2px solid white;
	display: inline-block;
	color: white;
	margin: 20px auto;

}

.button {
	width: 100px;
	height: 40px;
	background: rgba(0, 0, 0, 0.7);
	border: 2px solid blue;
	display: inline-block;
	color: white;
	margin: 20px;
	padding-top: 20px;
	border-radius: 10px;
}


